doctype html
html
  head
    title=title
    link(rel='icon', type='image/svg+xml', href='/_static_/images/icon.svg')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato&Oswald:wght@500&display=swap")
    link(rel='stylesheet', href='/_static_/css/styles.css')
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.css",integrity="sha384-yFRtMMDnQtDRO8rLpMIKrtPCD5jdktao2TV19YiZYWMDkUR5GQZR/NOVTdquEx1j",crossorigin="anonymous")
    meta(property="og:title" content=title)
    if (typeof summary !== "undefined")
      meta(property="og:description" content=summary)
    if (typeof site !== "undefined")
      meta(property="og:site_name" content=site)
    if (typeof canonicalURL !== "undefined")
      meta(property="og:url" content=canonicalURL)
    if (typeof pic !== "undefined")
      meta(property="og:image" content=pic)
    if (typeof ogType !== "undefined")
      meta(property="og:type" content=ogType)
      
  body
    script(src="https://unpkg.com/web-animations-js@2.3.1/web-animations.min.js")
    script(src="https://unpkg.com/hammerjs@2.0.8/hammer.min.js")
    script(src="/_static_/js/muuri.js")
    script.
      var STACKEDITOR_URL="!{STACKEDITOR_URL}";
    script(src="/_static_/js/layout.js")
    script.
      setupLayout(document, window);
    
    img#bchHeaderCoin(src="/_static_/images/bchCoin.svg", onclick="linkTo('home')")

    div#EpBar
      //- v also check if user has commit priviledges
      if user && user.loggedIn
        input#editProposal(type="text" placeholder="edit proposal" value=user.editProposal)
        span.horizMenu#closeEP(onclick="closeEditProposal()") close
        span.horizMenu#openEP(onclick="openEditProposal()") open
        |  | 
        span.horizMenu#diffEP(onclick="diffEditProposal()") diff
        |  | 
      if user && user.loggedIn
        span.horizMenu(onclick="commitEdits()") commit
        |  | 
        span.horizMenu#submitEP(onclick="submitEditProposal()") submit

    
    div#userBar
      //-  |  | 
           span.horizMenu(onclick="settings()") settings
      if user && user.loggedIn
        span.horizMenu(onclick="logout()") logout
      else
        span.horizMenu(onclick="login()") login
    
    div#headerPageTitle
      block header

    div#cwikheader
      img#sideBarButton(src='/_static_/images/closemenuIcon.svg', onclick="toggleSidebar()")
      div.toolBar
        block toolBar

    div#sidebarAndContent
     div.leftsidebar
      div#lsb
       div.item-content
        div.sidebargrid
          div.structure
             div.item-content
                block structure
          div.related
             div.item-content
                block related 
          div.history
             div.item-content
                block history

     div.VertB
      div.notification
        center#notifyText
          block notification
      div.Content
        div.item-content
          div.cwikcontent
              block wikipage

    textarea#rawMarkdown


    if user && user.loggedIn
      script.
        setEditProposalMenuVisibility("!{user.editProposal}");
    script.
      var sidebarGrid = new Muuri('.sidebargrid', {
        dragEnabled: true
      });
      if (window.matchMedia("(orientation: portrait)").matches) {
          document.querySelector(".leftsidebar").style.display = "none";
          document.getElementById("sideBarButton").src = '/_static_/images/openmenuIcon.svg';
      }
       
    block endScript
          
