extends layout

block header
  strong
    center#pageTitle #{title}

block history
  center.headerText Recently Viewed
  div#historyI !{history}

block related
  center.headerText Related
  div#relatedI !{ related }

block structure
  center.headerText Page Contents
  div#structureI !{ structure }

block wikipage
  div.wikicontent !{ wikiPage }

block notification
  if notification
     | !{ notification }

block toolBar
  div.editBar
    if user && user.loggedIn
      <span class="horizMenu" onclick="runEditorIfPermitted(window.location.href, document.getElementById('rawMarkdown'))">edit</span>

    //- unimplemented features
        |  | 
        <span class="horizMenu" onclick="voting(window.location.href)">voting</span>
        |  | 
        <span class="horizMenu" onclick="discussion(window.location.href)">talking</span>

block endScript
  script(src="/_static_/js/katex.min.js")
  script(src="https://d3js.org/d3.v5.min.js")
  script(src="/_static_/js/he.js")
  script(src="/_static_/js/mermaid/mermaid.js")
  script.
    mermaid.initialize({logLevel:5, startOnLoad:true});
  script(src="/_static_/js/mathjax/MathJax.js?config=TeX-AMS_HTML", type="text/javascript")
  script(src="/_static_/js/se.js")
  script(src="/_static_/js/editLinkage.js")
  script(type="module").
    let ctnt = document.querySelector(".wikicontent").innerHTML;
    var origMdData = !{JSON.stringify(rawMarkdown)};
    if ((ctnt == "") || (ctnt == "loading..."))
    {
        processFetchedMd(origMdData);
    }
    else
    {
        document.getElementById('rawMarkdown').value = origMdData;
    }
