extends layout

block header
  strong
    center#pageTitle #{title}

block history
  center.headerText Recently Viewed
  div#historyI !{history}

block related
  center.headerText Related
  div#relatedI !{ related }

block structure
  center.headerText Contents
  div#structureI !{ structure }

block wikipage
  div.wikicontent !{ zzwikiPage }

block notification
  if notificationData
     | !{ notificationData }

block toolBar
  div.editBar
    if user && user.loggedIn
      <span class="horizMenu" onclick="runeditor(window.location.href, document.querySelector('.cwikeditor'))">edit</span>

    //- unimplemented features
        |  | 
        <span class="horizMenu" onclick="voting(window.location.href)">voting</span>
        |  | 
        <span class="horizMenu" onclick="discussion(window.location.href)">talking</span>

block endScript
  script(src="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.js", integrity="sha384-9Nhn55MVVN0/4OFx7EE5kpFBPsEMZxKTCnA+4fqDmg12eCTqGi6+BB2LjY8brQxJ", crossorigin="anonymous")

  script(src="https://d3js.org/d3.v5.min.js")
  script(src="/_static_/js/he.js")
  script(src="/_static_/js/mermaid/mermaid.js")
  script.
    mermaid.initialize({logLevel:5, startOnLoad:true});
  script(src="/_static_/js/mathjax/MathJax.js?config=TeX-AMS_HTML", type="text/javascript")
  script(src="/_static_/js/se.js")
  script(src="/_static_/js/editLinkage.js")
  script(type="module").
    var mdData = !{JSON.stringify(rawMarkdown)};
    processFetchedMd(mdData);
